# Import Library

In [229]:
import numpy as np
import pandas as pd
import pickle

from ast import literal_eval
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity
from google.colab import files

# Import Data

In [211]:
meta = pd.read_csv('movies_metadata.csv')
meta.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [212]:
links_small = pd.read_csv('links_small.csv')
links_small.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

# Preprocessing

In [213]:
meta = meta[['id', 'imdb_id', 'title', 'overview', 'tagline', 'genres']].dropna().drop_duplicates(subset='title', keep='first')
meta['id'] = meta['id'].astype('int')
meta['genres'] = meta['genres'].fillna('[]').apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
meta = meta.sort_values('title')

meta.head()

,id,imdb_id,title,overview,tagline,genres
18757,55245,tt1699720,!Women Art Revolution,"Through intimate interviews, provocative art, ...",40 years in the making!,[Documentary]
30961,41371,tt1637976,#1 Cheerleader Camp,A pair of horny college guys get summer jobs a...,Grab your spirit sticks!,"[Comedy, Drama]"
36153,301325,tt3526286,#Horror,"Inspired by actual events, a group of 12 year ...",Death is trending.,"[Drama, Mystery, Horror, Thriller]"
23501,267752,tt3060338,#chicagoGirl,From her childhood bedroom in the Chicago subu...,The Social Network Takes on a Dictator,[Documentary]
15775,4204,tt1024733,$5 a Day,"After being released from jail, the son of a c...",Relationships don't come cheap!,"[Drama, Comedy]"

In [214]:
links_small = links_small[['tmdbId']].dropna()
links_small = links_small['tmdbId'].astype('int')

links_small.head()

0      862
1     8844
2    15602
3    31357
4    11862
Name: tmdbId, dtype: int64

In [215]:
smd = meta[meta['id'].isin(links_small)]

smd.head()

,id,imdb_id,title,overview,tagline,genres
13938,53830,tt0024805,'Neath the Arizona Skies,"Chris Morrell, the guardian of half-Indian gir...",Hair-trigger Action! Hair-Trigger Action! (rei...,"[Action, Western]"
13874,19913,tt1022603,(500) Days of Summer,"Tom (Joseph Gordon-Levitt), greeting-card writ...",It was almost like falling in love.,"[Comedy, Drama, Romance]"
3721,8420,tt0049189,...And God Created Woman,"Juliette Hardy is sexual dynamite, and has the...",...but the devil invented Brigitte Bardot!,"[Drama, Romance]"
6509,9051,tt0078721,10,A Hollywood songwriter goes through a mid-life...,"The funniest, sexiest midlife crisis in movie ...","[Comedy, Romance]"
36251,333371,tt1179933,10 Cloverfield Lane,"After a car accident, Michelle awakens to find...",Monsters come in many forms.,"[Thriller, Science Fiction, Drama]"

# Feature Extraction

In [216]:
smd['description'] = smd['overview'] + smd['tagline']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [217]:
tf = TfidfVectorizer(analyzer='word', ngram_range=(1, 2), min_df=0, stop_words='english')
tfidf_matrix = tf.fit_transform(smd['description'])

In [218]:
tfidf_matrix.shape

(6791, 211931)

In [219]:
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)
cosine_sim[0]

array([1.        , 0.        , 0.        , ..., 0.        , 0.00280284,
       0.        ])

In [220]:
smd = smd.reset_index()
titles = smd['title']
indices = pd.Series(smd.index, index=smd['title'])

tmdb_id = smd['id']
indices_tmdb_id = pd.Series(smd.index, index=smd['id'])

# Resulted Model

In [221]:
def get_recommendations(title):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:16]
    movie_indices = [i[0] for i in sim_scores]
    return titles.iloc[movie_indices]

def get_recommendations_id(title):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:16]
    movie_indices = [i[0] for i in sim_scores]
    return tmdb_id.iloc[movie_indices]

In [222]:
get_recommendations('Jumanji')

3743                        Pixels
2113       Guardians of the Galaxy
4566                    Stay Alive
3591                         Ouija
6711                Wreck-It Ralph
1550            Dungeons & Dragons
1172               Comfort and Joy
6709              Would You Rather
2081                 Grandma's Boy
5265     The Giant Spider Invasion
3703                     Peter Pan
4371             Sleeping Dogs Lie
6765    Zathura: A Space Adventure
6785                      eXistenZ
3880                    Quarantine
Name: title, dtype: object

In [223]:
get_recommendations_id('Jumanji')

3743    257344
2113    118340
4566     10069
3591    242512
6711     82690
1550     11849
1172     30278
6709     97051
2081      9900
5265     39154
3703     10693
4371     43673
6765      6795
6785      1946
3880     13812
Name: id, dtype: int64

In [233]:
pickle.dump(titles, open('titles.pkl', 'wb'))

In [234]:
pickle.dump(cosine_sim, open('cosine_sim.pkl', 'wb'))

In [235]:
files.download('titles.pkl')

In [236]:
files.download('cosine_sim.pkl')

In [240]:
movie_list = smd[['id', 'title', 'description', 'genres']]
movie_list.columns = ['movie_id', 'title', 'desc', 'genres']

movie_list.head()

In [244]:
pickle.dump(movie_list, open('movie_list.pkl', 'wb'))

In [245]:
files.download('movie_list.pkl')

In [253]:
pickle.dump(cosine_sim, open('similarity.pkl', 'wb'))

In [254]:
files.download('similarity.pkl')